@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700|Poppins:400,500,700&display=swap');

:root{
  --poppins: 'Poppins', sans-serif;
  --rubik: 'Rubik', sans-serif;
  --primary: rgb(41, 48, 107);
  --box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--rubik);
  font-size: 16px;
  line-height: 1.5;
}

.btn-primary{
  background-color: var(--primary);
  color: #fff; 
  border: none;
}

.btn-primary:hover{
  background-color: #fff;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.btn-primary:active:focus{
  background-color: #fff;
  color: var(--primary);
  border: 1px solid var(--primary);
}



