#page-top{
    color:#fff;
}

hr.divider {
    height: 0.1rem;
    max-width: 12.25rem;
    margin: 1.5rem auto;
    background-color: white;
    opacity: 1;
}

hr.divider-light {
    background-color: white;
}

#mainNav{
    /* boxshadow */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    /* background */
    background-color: rgba(0,0,0,0.1);
    transition: 0.2s ease;
}

#mainNav .navbar-brand{
    font-weight: 700;
    font-size: 1.5rem;
    color: #fff;
}

#mainNav .navbar-nav .nav-item .nav-link{
    font-size: 1 rem;
    color: #fff;
}

header.masthead {
    padding-top: 10rem;
    padding-bottom: 10rem;
    height:100vh;
    /* Background image with a gradient overlay */
    background: linear-gradient(rgba(78, 67, 118, 0.5), rgba(43, 88,118, 0.5)),
    url("https://images.unsplash.com/photo-1593062096033-9a26b09da705?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") center center;
    background-size: cover

}

h1 {
    
    font-size: 2.55rem;
    font-weight: 700;
}

i{
    font-size: 1.5rem;
    margin-right: 10px;
}

.login{
    background-color: var(--primary);
    border: none;
}

.login:hover{
    background-color: #fff;
    color: var(--primary);
    border: none;
}
.page-section{
        padding: 10rem 0;
        height:100vh;  
        color: #fff;
        background: linear-gradient( rgba(43, 88,118,0.5),rgba(78, 67, 118,0.5)),
        var(--primary);

}

.page-section h2{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.page-section p{
    font-size: 1.25rem;
    letter-spacing: 1.5px;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.btn.btn-primary.btn-xl{
    padding: 1rem;
    background-color: #fff;
    color: var(--primary);
    border: none;
}

.btn.btn-primary.btn-xl:hover{
    background-color: var(--primary);
    color: #fff;
    border: none;
}

.page-section.services{
    background: linear-gradient(rgba(78, 67, 118, 0.5), rgba(43, 88,118, 0.5)),
    var(--primary);
    
}

.page-section.services i{
    color: #fff;
    font-size: 5rem;
    margin-bottom: 1.5rem;
}



   
        
    

    